body{

}

p{

}

.slide-dots {
  
}

.show {
    display: block;
}

.hide {
    display: none;
}

.image-l{
  width: 300px;
  height: 420px;
}

.image-w{
  width: 420px;
  height: 300px;
}
